{% extends 'base.html' %}

{% block head %}{% endblock %}
{% block body %}
<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal">Продукт на складе</h1>
      <form action="" method = "POST">
        <div class="form-group row">
            <label for="name">Название продукта</label>
            <input type="text" {% if product.name %} value="{{ product.name }}" {% endif %} class="form-control" name="name" id="name" required>
        </div>
        <div class="form-group row">
            <label for="amount">Количество</label>
            <p
                id="amount-hint"
                class="input-hint">
                С точностью до трех знаков, используя '.' в качестве разделителя. Например: <samp>2.705</samp>.
             </p>
            <input type="text" pattern="\d+(\.\d{1,3})?" {% if product.amount %} value="{{ product.amount }}" {% endif %} class="form-control" name="amount" id="amount" required>
        </div>
        <div class="form-group row">
            <label>Код поставщика</label>
            <select name="id_provider" size="1">
                {% for row in provider %}
                <option value="{{ row.id }}" {% if row == product.provider %} selected {% endif %}>{{ row }}</option>
                {% endfor %}
                <option value="0" {% if not product.provider %} selected {% endif %}>Null</option>
           </select>
        </div>
        <button type="btnAdd" class="btn btn-primary">ОК</button>
        <a href="/product" class="btn btn-primary">Отмена</a>
      </form>
</div>
{% endblock %}