{% extends 'base.html' %}

{% block head %}{% endblock %}
{% block body %}
<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal">Блюдо в меню</h1>
      <form action="" method = "POST">
        <div class="form-group row">
            <label>Код меню</label>
            <select name="id_menu" size="1">
                {% for row in menu %}
                <option value="{{ row.id }}">{{ row }}</option>
                {% endfor %}
           </select>
        </div>

        <div class="form-group row">
            <label>Код блюда</label>
            <select name="id_dish" size="1">
                {% for row in dish %}
                <option value="{{ row.id }}">{{ row }}</option>
                {% endfor %}
           </select>
        </div>

        <button type="btnAdd" class="btn btn-primary">OK</button>
        <a href="/menu_dish" class="btn btn-primary">Отмена</a>
      </form>
</div>
{% endblock %}