{% extends 'base.html' %}

{% block head %}
        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            <a class="me-3 py-2 text-decoration-none" href="/add_dish">Добавить</a>
        </nav>
{% endblock %}

{% block body %}
<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal">Блюда</h1>
</div>
<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
<table style="border:1px solid" width="1000">
  <tr style="border:1px solid">
    <th>id</th>
    <th>Наименование</th>
    <th>Цена</th>
    <th>Калорийность</th>
    <th>Количество</th>
    <th>Рецепт</th>
    <th>Удаление</th>
    <th>Изменение</th>
  </tr>
      {% for row in data %}
      <tr style="border:1px solid">
         <td>{{ row.id }}</td>
         <td>{{ row.name }}</td>
         <td>{{ row.calorific }}</td>
         <td>{{ row.price }}</td>
         <td>{{ row.amount }}</td>
         <td><a class="me-3 py-2 text-dark text-decoration-none" href="/dish/{{ row.id }}">Рецепт</a></td>
         <td><a class="me-3 py-2 text-dark text-decoration-none" href="/delete_dish/{{ row.id }}">Удалить</a></td>
         <td><a class="me-3 py-2 text-dark text-decoration-none" href="/update_dish/{{ row.id }}">Изменить</a></td>
      </tr>
      {% endfor %}
</table>
</div>
{% endblock %}